{% assign meta_title = page.title | default: site.title %}
{% assign meta_desc = page.excerpt | strip_html | default: site.description %}
{% assign meta_url = site.url | append: page.url %}
{% if page.image %}
  {% assign meta_image = site.url | append: page.image %}
{% else %}
  {% assign meta_image = site.url | append: "/assets/default-thumbnail.png" %}
{% endif %}

<!-- Primary Meta Tags -->
<title>{{ meta_title }} | {{ site.title }}</title>
<meta name="title" content="{{ meta_title }}">
<meta name="description" content="{{ meta_desc }}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{ meta_url }}">
<meta property="og:title" content="{{ meta_title }}">
<meta property="og:description" content="{{ meta_desc }}">
<meta property="og:image" content="{{ meta_image }}">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="{{ meta_url }}">
<meta property="twitter:title" content="{{ meta_title }}">
<meta property="twitter:description" content="{{ meta_desc }}">
<meta property="twitter:image" content="{{ meta_image }}">
